@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(21, 91%, 17%);
  --clr-primary-2: hsl(21, 84%, 25%);
  --clr-primary-3: hsl(21, 81%, 29%);
  --clr-primary-4: hsl(21, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(21, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(21, 57%, 50%);
  --clr-primary-7: hsl(21, 65%, 59%);
  --clr-primary-8: hsl(21, 80%, 74%);
  --clr-primary-9: hsl(21, 94%, 87%);
  --clr-primary-10: hsl(21, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: #102a42;
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* 
=============
Navbar
=============
*/
.navbar {
  display: flex;
  justify-content: center;
  height: 8vh;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 30vh;
  color: white;
}
.nav-dark {
  color: black;
}

/* 
==========
Hero
==========
*/

.hero {
  height: 100vh;
  margin: -8vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/main-bcg.jpeg) center/cover;

  color: var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-page-hero {
  height: 20vh;
  background-color: #f1f5f9;

  color: var(--clr-grey-5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-mid-content {
  display: flex;
  height: 50%;
  width: 70%;
}
.hero-content > p {
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  font-size: 8vh;
}
.page-hero-title {
  font-size: 4vh;
}
.hero-shop-btn {
  padding: 1vh;
  margin-top: 2vh;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: large;
}
.hero-shop-btn:hover {
  background-color: white;
  color: var(--clr-primary-7);
  transition: var(--transition);
}

/* Products */

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  justify-content: center;
  width: 70%;
  margin: auto;
  margin-top: 6vh;
}

/* Product */
.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-icons{
  position: absolute;
  top: 40%;
  left: 30%;
  display: flex;
}
.show-icons{
  display: none;
}
.product-icon {
  width: 2.25rem;
  height: 2.25rem;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: var(--transition);
  cursor: pointer;
  font-size: 1rem;
  border-color: transparent;
  margin: 0 0.5rem;
}
.product-icon > button {
  all: unset;
}
/* .product-item:hover .show-icons {
  display: flex;
  
} */
.img-container {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.img-container:hover .show-icons {
  display: flex;
  transform: var(--transition);
  
}
.product-img {
  width: 18rem;
  height: 14rem;
  border: 1px solid var(--clr-grey-10);
  border-radius: 8px;
}

/* Singel Product Page */
.product-page-container{
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  margin-top: 6vh;
}
.single-product-img >img{
  height: 30rem;
  border: 1px solid var(--clr-grey-10);
  border-radius: 8px;
}
.single-product-content{
  display: flex;
  flex-direction: column;
  padding: .4rem 3rem;
  justify-content: space-between;
}
.single-product-title{
  font-size: 42px;
  font-weight: 400;
}
.single-product-company{
  font-family: "Kaushan Script", cursive;
  margin-top: -1rem;  
  color: var(--clr-grey-7);
  
}

.single-product-desc{
  width: 60%;
  color: var(--clr-grey-4);
}

.single-product-content>button{
  width: fit-content;
  padding:.5vh 1vh;
  border: none;
  background-color: var(--clr-primary-5);
  color: white;
  font-size: large;
  border-radius: 4px;
}
.colors{
  background-color: var(--clr-primary-6);
  border-radius: 100%;
  height: 1rem;
  width: 1rem;

}